    <script src="/foundation-6.2.3-essential/js/vendor/jquery.js"></script>
    <script src="/foundation-6.2.3-essential/js/vendor/what-input.js"></script>
    <script src="/foundation-6.2.3-essential/js/vendor/foundation.js"></script>
  </body>
</html>
