body {
  background: #141E30; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* front page */
.container {
  text-align: center;
  margin: 10% auto;
}

.text {
  color: #D8E2E6;
}

/* front button css */
.create-button {
  position: relative;
  margin: 2%;
  width: 10%;
  outline: none;
  color: #D8E2E6;
}

.create-button2 {
  position: relative;
  margin: 2%;
  width: 30%;
  outline: none;
  color: #D8E2E6;
}

.button.hollow.secondary:hover, .button.hollow.secondary:focus{
    border-color: #D8E2E6;
    color: #D8E2E6;
}
/* ---------------- */

/* front input text */
#front-code {
  text-align: center;
  margin: 0 auto;
  width: 30%;

}
/* --------------- */


<<<<<<< HEAD

/*----------------*/
=======
/* createList */
>>>>>>> 5373ef8a0049ae8c054f55395ceec8abb374e327
.create {
  margin: 4% 18%;
  text-align: center;
}

.squareOut{
  padding-top: 11%;
  padding-left: 20%;
  width: 1200px;
  height: 800px;
	border: 10px double white;
}

.squareIn{
  padding-top: 6%;
  width: 700px;
  height: 500px;
  border: 10px double white;
}

.input{
  padding: 10px;
	text-align:center;
	color: #D8E2E6;
}

.createIn{
	width: 45%;
	text-align: center;
	margin: 0 auto;
}
