<% include ../partials/firstHeader %>
  <title> Confirm </title>
<% include ../partials/lastHeader %>
<!-- create a confirmation to the user when clicking the search -->
	
	<div class = "create">
		<div class = "squareOut">
			<div class="squareIn">
				<h1 class = "input"> <u>Playlist Title</u> </h1>
				<font size="5" color="white"><%= doorCode %></font><br><br>
				<font size="5" color="white" class="input"><u>ID Code</u>: <%= doorCode%></font><br>
				<br><br><br>
				<input type="submit" class="hollow button create-button2 secondary" value="Go back">
				<input type="submit" class="hollow button create-button2 secondary" value="Let's Start!">
			</div>
		</div>
	
	</div>
		
	



<% include ../partials/footer %>
