<% include ../partials/firstHeader %>
  <title> Confirm </title>
<% include ../partials/lastHeader %>
<!-- create a confirmation to the user when clicking the search -->
	<div class = "create">
		<h1 class = "input"> Confirmation </h1>
		<input type="text" class="createIn" placeholder="Your Legendary Playlist..."><br>
		<h2 class = "input">Change to the confirmation</h2>
		<input type="text" class="createIn" placeholder="Theme"><br>
		<input type="submit" class="hollow button create-button secondary" value="Let's Get Started!">
	</div>




<% include ../partials/footer %>
