<% include ../partials/firstHeader %>
  <title> Create </title>
<% include ../partials/lastHeader %>
	<div class = "create">
		<h1 class = "input"> Playlist Title </h1>
		<input type="text" class="createIn" placeholder="Your Legendary Playlist..."><br>
		<h2 class = "input">Playlist Theme</h2>
		<input type="text" class="createIn" placeholder="Theme"><br>
		<input type="submit" class="hollow button create-button secondary" value="Let's Get Started!">
	</div>




<% include ../partials/footer %>
