<% include ../partials/firstHeader %>
  <title> Playlist </title>
<% include ../partials/lastHeader %>
  <h1> findList page! </h1>
  <div class="row">
    <div class = "small-3 large-4 columns text">
        <input type="text" placeholder="What song do you want?">
        <a href="#" class="button round"> Search </a>
    </div>
    <div class= "small-8 large-8 columns text">
      <div class="row">
         <h3> the other div </h3>
      </div>
      <div class="row">
        <h1> play list over here </h1>
      </div>
    </div>
  </div>
<% include ../partials/footer %>
