<% include ../partials/firstHeader %>

  <title>Sound Juke</title>
<% include ../partials/lastHeader %>
  <form action="/createListButton" method="POST" class="container">
    <h1 class="text"> Sound Juke  </h1>
    <div>
      <input type="text" id="front-code" name="findPlayList" placeholder="Enter Code or Playlist Here...">
    </div>
    <button class="hollow button create-button secondary">Search</button>
    <button class="hollow button create-button secondary">Create</button>
  </form>
  <script type="text/javascript">
    var input = document.querySelector('#front-code').addEventListener("onKeyPress", ()=>{
      this.value("");
    });
    console.log(document.querySelector('#front-code'));


  </script>
<% include ../partials/footer %>
