<% include ../partials/header %>
  <div class="container">
    <h1 class="title"> Music App </h1>
    <button class="hollow button create-button secondary" href="pages/createList.ejs">Create</button>
    <input type="text" id="front-code" placeholder="Enter Code Here..">
  </div>
<% include ../partials/footer %>
